@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');
body{
  background-color:rgb(202, 201, 201);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau Infant', sans-serif;
  

}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 222;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}


/* Apply some basic styles to the form container */
.form-container {
  width: 80%;
  margin: 0px auto;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  background-color: white;
  box-shadow: inset 0 5px 10px -5px black;
}
h2{
  margin-bottom: 10px;
}

/* Style the textarea */
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing of the textarea */
}

/* Style the submit button */
.submit {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}

.submit:hover {
  background-color: #0056b3;
}
.login{
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #efb506;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}


@media screen and (max-width: 727px) {
  .navbar{
     width : 100%;
}
.form-container{
  width: 100%;
}
}



